{{range .FinishedGameGroups}}
{{if .OverallNoGamesFound}}
<h2>No games have been completed.</h2>
{{else}}
<h2>{{monthString .Month}} {{.Year}}</h2>
{{$numGames := len .ChessGames}}
{{if eq $numGames 0}}
<h3>No games were played on this month.</h3>
<hr style="width: 100%">
{{else}}
<div>
    <table class="w3-table">
        <tr>
            <th>Player</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Draws</th>
            <th>Win %</th>
            <th>Win Streak</th>
        </tr>
        {{range .UserStatistics}}
        <tr>
            <td>{{.User}}</td>
            <td>{{.Wins}}</td>
            <td>{{.Losses}}</td>
            <td>{{.Draws}}</td>
            <td>{{.WinPercentage}} %</td>
            <td>{{.WinStreak}}</td>
        </tr>
        {{end}}
    </table>
</div>
<div class="w3-row-padding w3-padding-16 w3-center" id="games">
    {{range .ChessGames}}
    <div class="w3-third">
        <h3>{{.PgnParsed.Black}}
            {{if .PgnParsed.BlackWon}} &#128081;{{end}}
            {{if .PgnParsed.BlackResigned}} &#127987;&#65039;{{end}}
            {{if .PgnParsed.BlackWasCheckmated}} &#129301;{{end}}
            {{if .PgnParsed.BlackTimedOut}} &#9201;&#65039;{{end}}
            {{if .PgnParsed.BlackAgreed}} &#129309;{{end}}
            {{if .PgnParsed.BlackInsufficient}} &#129335;{{end}}
        </h3>
        <p>{{.ChessComFinishedGame.Black.Result}}</p>
        <img src="data:image/svg+xml;base64,{{.Image}}"></p>
        <p>{{.ChessComFinishedGame.White.Result}}</p>
        <h3>{{if .PgnParsed.WhiteWon}}&#128081; {{end}}
            {{if .PgnParsed.WhiteResigned}}&#127987;&#65039; {{end}}
            {{if .PgnParsed.WhiteWasCheckmated}}&#129301; {{end}}
            {{if .PgnParsed.WhiteTimedOut}}&#9201;&#65039; {{end}}
            {{if .PgnParsed.WhiteAgreed}}&#129309; {{end}}
            {{if .PgnParsed.WhiteInsufficient}}&#129335;&#127997;&#8205;&#9794;&#65039; {{end}}
            {{.PgnParsed.White}}
        </h3>
        <hr style="width: 100%">
    </div>
    {{end}}
</div>
{{end}}
{{end}}
{{end}}